[submodule "src/smithlab_cpp"]
	path = src/smithlab_cpp
	url = ../smithlab_cpp.git
	ignore = dirty
[submodule "src/abismal"]
	path = src/abismal
	url = ../abismal.git
	ignore = dirty
[submodule "src/bamxx"]
	path = src/bamxx
	url = ../bamxx.git
	ignore = dirty
