name: DNMTools build (Ubuntu)

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-with-gcc:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Install dependencies
      run: sudo apt-get install -y libgsl-dev
    - name: Install HTSLib dependencies
      run: sudo apt-get install -y libcurl4-gnutls-dev libdeflate-dev liblzma-dev zlib1g-dev libbz2-dev
    - name: Build htslib
      run: |
        git clone --recursive https://github.com/samtools/htslib.git && \
        cd htslib && \
        make -j4 && \
        sudo make install
    - name: Generate configure script
      run: ./autogen.sh
    - name: Configure for GCC
      run: ./configure CXX="g++"
    - name: Build with g++
      run: make -j4
    - name: Test the g++ build
      run: |
        ldd dnmtools
        sudo find / -name libhts.so\*
        sudo find / -name libhts.a
  build-with-clang:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Install dependencies
      run: sudo apt-get install -y libhts-dev libgsl-dev
    - name: Generate configure script
      run: ./autogen.sh
    - name: Configure for Clang
      run: ./configure CXX="clang++"
    - name: Build with clang++
      run: make -j4
    - name: Test the clang++ build
      run: |
        ldd dnmtools
        ./dnmtools
