name: DNMTools distcheck (Ubuntu)

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  distcheck:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
        libgsl-dev \
        libcurl4-gnutls-dev \
        libdeflate-dev \
        liblzma-dev \
        zlib1g-dev \
        libbz2-dev
    - name: Build and install htslib (for recent version)
      run: |
        git clone --recursive https://github.com/samtools/htslib.git
        cd htslib
        make -j4
        sudo make install prefix=/usr
    - name: Generate configure script
      run: ./autogen.sh
    - name: configure
      run: ./configure
    - name: Generate the source archive
      run: make dist
    - name: make distcheck
      run: make -j4 distcheck
