name: DNMTools build (Ubuntu)

on:
  workflow_dispatch:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-with-gcc:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
        libgsl-dev \
        libcurl4-gnutls-dev \
        libdeflate-dev \
        liblzma-dev \
        zlib1g-dev \
        libbz2-dev
    - name: Build and install htslib (for recent version)
      run: |
        git clone --recursive https://github.com/samtools/htslib.git
        cd htslib
        make -j4
        sudo make install prefix=/usr
    - name: Generate configure script
      run: ./autogen.sh
    - name: Configure for GCC
      run: ./configure CXX="g++"
    - name: Build with g++
      run: make -j4
    - name: Test the g++ build
      run: make -j4 check
  build-with-clang:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive
    - name: Install dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y \
        libgsl-dev \
        libcurl4-gnutls-dev \
        libdeflate-dev \
        liblzma-dev \
        zlib1g-dev \
        libbz2-dev
    - name: Build and install htslib (for recent version)
      run: |
        git clone --recursive https://github.com/samtools/htslib.git
        cd htslib
        make -j4
        sudo make install prefix=/usr
    - name: Generate configure script
      run: ./autogen.sh
    - name: Configure for Clang
      run: ./configure CXX="clang++"
    - name: Build with clang++
      run: make -j4
    - name: Test the clang++ build
      run: make -j4 check
